@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 font-sans;
}

.spinner-border {
  border-width: 2px;
  border-style: solid;
  border-color: currentColor;
  border-top-color: transparent;
  border-radius: 9999px;
}
